@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 62.5%;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}

input {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
}
